body {
	background-color: white;
	text-align: center;
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: "Arial";
	text-align: center;
	color: white;
}

img {
	margin: 16px;
	width: 256px;
	height: auto;
}

#wrapper {
	margin: 16px;
	padding: 16px;
	background-color: aquamarine;
}